<div class="container">
    <h1>FootBall Update</h1>
    <div class="menu-wrapper">
        <button id="englandSelect" (click)="selectCountry(englandSelect)" [routerLink]="['/country', englandSelect]"
            routerLinkActive="active" [class.selected]="league === englandSelect">England</button>
        <button id="spainSelect" (click)="selectCountry(spainSelect)" [routerLink]="['/country', spainSelect]"
            routerLinkActive="active" [class.selected]="league === spainSelect">Spain</button>
        <button id="franceSelect" (click)="selectCountry(franceSelect)" [routerLink]="['/country', franceSelect]"
            routerLinkActive="active" [class.selected]="league === franceSelect">France</button>
        <button id="germanySelect" (click)="selectCountry(germanySelect)" [routerLink]="['/country', germanySelect]"
            routerLinkActive="active" [class.selected]="league === germanySelect">Germany</button>
        <button id="italySelect" (click)="selectCountry(italySelect)" [routerLink]="['/country', italySelect]"
            routerLinkActive="active" [class.selected]="league === italySelect">Italy</button>
    </div>
    <div *ngIf="isLoading; else showTable" class="loader">Loading...</div>
    <ng-template #showTable>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Name</th>
                        <th>Games</th>
                        <th>W</th>
                        <th>L</th>
                        <th>D</th>
                        <th>Goal Difference</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let team of standings" (click)="goToTeamResults(team?.team?.id)" class="my-link">
                        <td>{{ team?.rank }}</td>
                        <td>
                            <img [src]="team?.team?.logo" alt="Home Team Logo" height="50">
                        </td>
                        <td>{{ team?.team?.name }}</td>
                        <td>{{ team?.all?.played }}</td>
                        <td>{{ team?.all?.win }}</td>
                        <td>{{ team?.all?.lose }}</td>
                        <td>{{ team?.all?.draw }}</td>
                        <td>{{ team?.goalsDiff }}</td>
                        <td>{{ team?.points }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-template>
</div>