<div class="container">
    <div class="table-container">
        <table>
            <tbody>
                <ng-container *ngIf="fixtures?.length === 0 && !isLoading; else content">
                    <div class="error-message">Currently, there is no data</div>
                </ng-container>
                <ng-template #content>
                    <ng-container *ngIf="isLoading; else table">
                        <div class="loader">Loading...</div>
                    </ng-container>
                    <ng-template #table>
                        <tr *ngFor="let result of fixtures">
                            <td><img [src]="result?.teams?.home?.logo" alt="Home Team Logo" height="50"></td>
                            <td>{{ result?.teams?.home?.name }}</td>
                            <td>{{ result?.goals?.home }}</td>
                            <td>-</td>
                            <td>{{ result?.goals?.away }}</td>
                            <td>{{result?.teams?.away?.name }}</td>
                            <td><img [src]="result?.teams?.away?.logo" alt="Away Team Logo" height="50"></td>
                        </tr>
                        <div>Your table content goes here</div>
                    </ng-template>
                </ng-template>
            </tbody>
        </table>
    </div>
    <button (click)="goBack()">Back</button>
</div>