table {
  width: 50%;
  margin: auto;
  border-collapse: collapse;
  background-color: lightgrey;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  font-weight: bold;
  text-transform: uppercase;
}

.table-container {
  height: 500px;
  width: 600px;
  overflow: auto;
  margin-bottom: 10px;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table-container th {
  background-color: #f2f2f2;
}

button {
  background-color: blue;
  color: white;
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0044cc;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
